In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st


# Read the data files
jeopardy_teen_df= pd.read_csv('kids_teen.csv', sep='\t')
jeopardy_teen_df.head()

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,BIRDS,-,The bat parrot probably got its name from slee...,upside-down,1987-02-16,1987 Teen Tournament quarterfinal game 1.
1,1,200,no,BIRDS,-,"Too ""lei""zy to migrate, the geese in this trop...",Hawaii,1987-02-16,1987 Teen Tournament quarterfinal game 1.
2,1,300,no,BIRDS,-,A bird waterproofs its feathers with oil from ...,its tail,1987-02-16,1987 Teen Tournament quarterfinal game 1.
3,1,100,no,THE LIBRARY,-,Defacing books or shouting or throwing spitbal...,three activities prohibited in the library,1987-02-16,1987 Teen Tournament quarterfinal game 1.
4,1,200,no,THE LIBRARY,-,"On most reference books in your local library,...",R,1987-02-16,1987 Teen Tournament quarterfinal game 1.

In [10]:
# Read the data files
jeopardy_adult_df= pd.read_csv('master_season1-35.csv', sep='\t')
jeopardy_adult_df.head(30)

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,1984-09-10,-
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,1984-09-10,-
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,1984-09-10,-
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,1984-09-10,-
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,1984-09-10,-
5,1,200,no,INVENTIONS,-,"In 1869 an American minister created this ""ori...",the rickshaw,1984-09-10,-
6,1,300,no,INVENTIONS,-,A 1920's hunting trip to Canada inspired Birds...,freezing,1984-09-10,-
7,1,400,no,INVENTIONS,-,This fastener gets its name from a brand of ga...,a zipper,1984-09-10,-
8,1,100,no,ANIMALS,-,These rodents first got to America by stowing ...,rats,1984-09-10,-
9,1,200,no,ANIMALS,-,"There are about 40,000 muscles & tendons in th...",the trunk,1984-09-10,-
10,1,300,no,ANIMALS,-,"When husbands ""pop"" for an ermine coat, they'r...",a weasel,1984-09-10,-
11,1,400,no,ANIMALS,-,"Close relative of the pig, though its name mea...",the hippopotamus,1984-09-10,-
12,1,500,no,ANIMALS,-,If this species of hybrid's parents were rever...,mule,1984-09-10,-
13,1,100,no,FOREIGN CUISINE,-,"The ""coq"" in coq au vin",chicken,1984-09-10,-
14,1,200,no,FOREIGN CUISINE,-,"A British variety is called ""bangers"", a Mexic...",sausages,1984-09-10,-
15,1,300,no,FOREIGN CUISINE,-,Jewish crepe filled with cheese,a blintz,1984-09-10,-
16,1,400,no,FOREIGN CUISINE,-,French for a toothsome cut of beef served to a...,Châteaubriand,1984-09-10,-
17,1,100,no,ACTORS & ROLES,-,Video in which Michael Jackson plays a werewol...,"\""Thriller\""",1984-09-10,-
18,1,200,no,ACTORS & ROLES,-,"2 ""Saturday Night"" alumni who tried ""Trading P...",Dan Aykroyd & Eddie Murphy,1984-09-10,-
19,1,300,no,ACTORS & ROLES,-,"He may ""Never Say Never Again"" when asked to b...",Sean Connery,1984-09-10,-
20,1,400,no,ACTORS & ROLES,-,"The blonde preferred in the film ""Gentlemen Pr...",Marilyn Monroe,1984-09-10,-
21,1,500,no,ACTORS & ROLES,-,"Sam Shepard played this barrier breaker in ""Th...",Colonel Chuck Yeager,1984-09-10,-
22,2,200,no,THE BIBLE,-,"When ""Joshua Fit The Battle Of Jericho"", these...",the walls,1984-09-10,-
23,2,400,no,THE BIBLE,-,His price was 30 pieces of silver,Judas,1984-09-10,-
24,2,600,no,THE BIBLE,-,"According to the Bible, it wasn't necessarily ...",the forbidden fruit (or the fruit of the Tree ...,1984-09-10,-
25,2,800,no,THE BIBLE,-,"Though its name means ""city of peace"", it's se...",Jerusalem,1984-09-10,-
26,2,1000,no,THE BIBLE,-,"According to 1st Timothy, it is the ""root of a...",the love of money,1984-09-10,-
27,2,200,no,\'50'S TV,-,"Occupation of Richard Diamond, Peter Gunn & Mi...",private eyes (or private detectives),1984-09-10,-
28,2,400,no,\'50'S TV,-,"She was ""Our Miss Brooks\""",Eve Arden,1984-09-10,-
29,2,600,no,\'50'S TV,-,Amount Michael Anthony gave out each week on b...,$1 million,1984-09-10,-