In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Read the data files
jeopardy_adult_df= pd.read_csv('master_season1-35.tsv', sep='\t')
jeopardy_adult_df

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,1984-09-10,-
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,1984-09-10,-
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,1984-09-10,-
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,1984-09-10,-
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,1984-09-10,-
...,...,...,...,...,...,...,...,...,...
349636,2,400,no,MAKE IT SNAPPY,-,"As well as photosharing on this app, you can w...",Snapchat,2019-07-26,-
349637,2,800,no,MAKE IT SNAPPY,-,"Genus Antirrhinum, these flowers snap closed a...",snapdragons,2019-07-26,-
349638,2,1600,no,MAKE IT SNAPPY,-,This hyphenated tool company owns brands like ...,Snap-On,2019-07-26,-
349639,2,2000,no,MAKE IT SNAPPY,-,"In 2019 meteorologist Daryl Ritchison at NDSU,...",North Dakota State University,2019-07-26,-
349640,3,0,no,HISTORIC SHIPS,-,215 passengers were rescued when it sank in Ju...,the Carpathia,2019-07-26,-